<div id="<%= dom_id round %>">
  <p>
    <strong>Letter:</strong>
    <%= round.letter %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= round.status %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= round.game_id %>
  </p>

</div>
